---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";


//
.container {
  max-width: 43rem;
}

html {
  font-size: 14px;
}

.lists {
  margin-bottom: .4rem;
}

#small_description {
  font-size: 12px;
  color: grey;
  margin-bottom: 0;
}

dt {
  font-weight: normal;
}

.no-bullet {
  list-style: none;
  padding-left: 0px;
}
