<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="google-site-verification" content="XCsrpiJWKcCm74K_7SQJ3_UZGc2mtpTOqpTAJoPAH1w" />

  <title>
    {% if page.title and page.title != "" %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">

  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon.png">
</head>
